html{
  height: 100%;
}

#sched {
  transform: scale(0.6);
  max-width: 100%;
  height: auto;
}

#landing_title {
  transform: scale(0.8);
  max-width: 100%;
  height: auto;
  margin: 20px;
}

.btn-close{
  transform: scale(0.7);
}

#month{
  text-align: left;
}

#day:hover{
  background-color: #EBF4F2;
}

#daytoday{
  background-color: #DFEDEA;
}

#month_sec{
  opacity: 50%;
}

#month_nav{
  padding-left: 5px;
  position: relative;
}

.shift_wrapper{
  padding-top: 15px;
}

#lunch{
  background-color: #FFE5DD;
}

body{
  background: linear-gradient(320deg, #ffddd2, #edf6f9, #cce3de);
}

#landing_image{
  opacity: 70%;
}

#landing{
  background: #F9FFFB;
}

#shift_indicator{
  background: #FDD3C5;
}

#caltext{
  color: black;
}
