{% extends "layout.html" %}

{% block title %}
    User settings
{% endblock %}

{% block main %}

<div class="container-md text-center">
    <div class="row">
        <div class="col align-self-center">
            <div id="roster" class="card text-center shadow">
                <div class="card-body">
                    <h1 class="display-6">Your profile</h1>
                    <br>
                    <h1 class="display-6">Your upcoming shifts</h1>
                    <br>
                    <div class="container text-center">
                        <div class="row justify-content-center">
                        <div class="col-3 align-self-center">
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col"> Date </th>
                                        <th scope="col"> Shift </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for shift in upcoming_shifts %}
                                    <tr>
                                        <tr>
                                            {% for item in shift %}
                                                {% if item == "date" %}
                                                <td>{{ shift[item] }}</td>
                                                {% endif %}
                                                {% if item != "date" %}
                                                <td> {{ item }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                    <br>
                    <div class="accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                                Change password
                              </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body d-flex justify-content-center">
                                    <form action="/settings" method="post">
                                        <div class="mb-3">
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1">Current password</span>
                                                <input autocomplete="off" type="password" id="current_password" name="current_password" class="form-control" placeholder="Current Password" aria-label="Current Password" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1">Enter new password</span>
                                                <input autocomplete="off" type="password" id="new_password" name="new_password" class="form-control" placeholder="Current Password" aria-label="Current Password" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1">Confirm new password</span>
                                                <input autocomplete="off" type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Current Password" aria-label="Current Password" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                                </div>
                            </div>
                        </div>
                       <!--<div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                                Shift swap requests
                              </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <p>Add date field here plus add to add to list</p>
                                  <strong>Current public holidays</strong>
                                  <ul>
                                      Holidays go here with delete
                                  </ul>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}